---
import LoginButton from '../components/LoginButton.jsx';
---
<html lang="en">
  <head><meta charset="utf-8" /><title>Login</title></head>
  <body style="font-family: system-ui; padding: 24px;">
    <h1>Login Page</h1>
    <LoginButton client:load />
  </body>
</html>
